@use '../../../styles/colors.scss' as *;

.menu {
	&_pc {
		&__list {
			display: flex;
			gap: 3.75rem;
		}
	}

	&_mob {
		&__list {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}

@media (max-width: 63.99375em) {
	.menu_pc {
		&__list {
			gap: 1.5rem;
		}
	}
}

.cart {
	position: relative;
	z-index: 20000;
}

.counter {
	position: absolute;
	z-index: 0;
	top: 0;
	right: -1px;
	width: 15px;
	height: 15px;
	background-color: $yellow;
	border-radius: 50%;
	font-size: 0.5rem;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $white;
}
