@use '../../../../styles/colors.scss' as *;

.starRating {
	font-size: 1.5rem;
	position: relative;
	display: inline-block;
	color: #ccc;

	@media (max-width: calc(840rem/16)) {
		font-size: 1rem;
	}
}

.starRatingOuter::before {
	content: '★★★★★';
	display: block;
}

.starRatingInner {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	white-space: nowrap;
	overflow: hidden;
	color: $yellow;
}

.starRatingInner::before {
	content: '★★★★★';
	display: block;
}
