@use '../../../../styles/colors.scss' as *;

.cart {
	position: absolute;
	z-index: 20000;

	top: calc(50rem / 16);
	right: calc(0rem / 16);
	background-color: #fff;
	border: 2px solid $yellow;
	border-radius: 20px;
	box-shadow: 1px 1px 1px 1px $yellow;

	&__items {
		max-height: calc(400rem / 16);
		overflow-y: auto;
		scrollbar-width: thin;
		overscroll-behavior: contain;

		.cart__items::-webkit-scrollbar {
			width: 8px;
		}

		.cart__items::-webkit-scrollbar-thumb {
			background-color: $yellow;
			border-radius: 10px;
		}

		.cart__items::-webkit-scrollbar-track {
			background-color: #f0f0f0;
		}
	}

	&__empty {
		padding: 0.5rem 0.7rem;
		font-size: 0.8rem;
		line-height: 220%;
	}

	&__total {
		border-top: 2px solid $black;
		padding: 1rem 0.3rem;
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 20px;

		&_btn {
			padding: 0.2rem 0.1rem;
			height: 30px;

			line-height: 1.5;
			font-size: 0.7rem;
		}
	}
}
